<h1>Rank#index</h1>
<table>
<%= @day %>タイムアタック
<tr><th>順位</th><th>ニックネーム</th>><th>タイム</th></tr>
<tr><td>第1位</td><td>しnみ</td><td>37.9s</td></tr>
<tr><td>第2位</td><td>いさみ</td><td>39.04s</td></tr>
<tr><td>第3位</td><td>いさみん</td><td>43.31s</td></tr>
</table>
