// Place all the styles related to the rank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th{
    background-color: yellowgreen;
    text-align: center;
    width: auto;
}
td{
    text-align: center;
}